*{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    list-style-type: none;
    font-size:50px;
}

/* i have added a comment after adding about us page */
h1{
    font-size:2rem;
    color:red;
    border: 2px solid green;
}